#toolbar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#toolbar img {
    width: 24px;
    height: 24px;
}
#toolbar .ui-button-text {
    padding: 3px;
    margin: auto;
}
#toolbar label, #toolbar a {
    width: 32px;
    height: 32px;
}
.sub_menu {
    position:absolute;
    display:none;
}
.sub_tool {
    background-image: url('../icons/menu.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.ui-corner-right { -webkit-border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 6px;  }
.ui-corner-left { -webkit-border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px; border-top-left-radius: 6px;  border-bottom-left-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-bottomleft: 6px; }


#canvas {
    width: 850px;
    height: 475px;
    border: 1px dashed black;
    margin: 4px auto;
}

.delete_icon {
    width: 16px;
    height: 16px;
}


#PeriodicTable tr {
    background-color: white;
    border: none;
}
#PeriodicTable td.element {
    border: 1px solid black;
    text-align:center;
    padding: 10px;
    cursor: pointer;
}
#PeriodicTable td.blue {
    background-color: lightblue;
}
